.container {
  // background-color: var(--background);
  // min-height: 100%;
  padding: 2em 4.5em;
  height: 5000vh;

  &__small {
    display: flex;
    align-items: center;
  }

  .comments {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border-radius: var(--radius);
    box-shadow: 0 0 10px 0px black;
    padding: 0.5em 2em;
    flex: 1;
    // transform: translateY(-30%);

    .comment__wrapper {
      position: relative;

      .depth {
        display: flex;
        // align-items: center;
        // justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .line {
          width: 100px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 1em;

          &:last-child {
            height: calc(100% - 4.3em);
            margin-top: auto;
          }

          div {
            background-color: var(--depth);
            width: 0.4rem;
            height: 100%;

            &.current {
              background-color: var(--depth-active);

              padding-bottom: 1em;
            }
          }
        }
      }

      .comment {
        position: relative;
        display: flex;
        column-gap: 0.5em;

        .comment__avatar {
          transform: translateY(-1em);
        }

        .comment__body {
          display: flex;
          flex-direction: column;
          row-gap: 0.8rem;
          padding: 1em 0;
          width: 100%;

          .comment__details {
            display: flex;
            align-items: center;
            column-gap: 1.2rem;
            font-weight: 500;

            span {
              color: var(--text-inactive);
              display: flex;
              align-items: center;
              column-gap: 0.3em;

              svg {
                width: 1em;
                height: 1em;

                path {
                  fill: var(--arrow-up);
                  stroke: var(--arrow-up);
                }
              }
            }
          }

          .comment__content {
            position: relative;

            .calc__content,
            .all__content,
            .visible__content {
              white-space: pre-line;
            }

            .calc__content,
            .all__content {
              opacity: 0;
            }

            .calc__content,
            .visible__content {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}
