.comments {
  margin: 2em 4.5em;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: var(--background);
  border-radius: var(--radius);
  box-shadow: 0 0 10px 0px black;
  padding: 0.5em 2em;

  .comment {
    position: relative;
    display: flex;
    column-gap: 0.5em;
    // border-left: 4px solid var(--arrow-inactive);

    // &:first-child {
    //   border: none;
    // }

    .comment__avatar {
      transform: translateY(-1em);
    }

    .comment__body {
      display: flex;
      flex-direction: column;
      row-gap: 0.8rem;
      padding: 1em 0;

      .comment__details {
        display: flex;
        align-items: center;
        column-gap: 1.2rem;
        font-weight: 500;

        span {
          color: var(--text-inactive);
          display: flex;
          align-items: center;
          column-gap: 0.3em;

          svg {
            width: 1em;
            height: 1em;

            path {
              fill: var(--arrow-up);
              stroke: var(--arrow-up);
            }
          }
        }
      }

      .comment__content {
        position: relative;

        .all__content {
          opacity: 0;
        }

        .visible__content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
