.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    margin: 0em 4.8em;
    padding: 1em 2em;
    z-index: 2;
    background-color: var(--background);
    border-radius: var(--radius);
    box-shadow: 0 0 10px 0px black;

    .score {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.5em;

      svg {
        &:last-child {
          transform: rotate(180deg);
        }
      }

      p {
        font-weight: 700;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;

      .details__header {
        display: flex;
        align-items: center;
        // flex-direction: row;
        column-gap: 0.7em;

        // @media (max-width: var(--mobile)) {
        //   flex-direction: column;
        // }

        p,
        span {
          color: var(--text-inactive);
        }

        div {
          margin-left: auto;
          border: 0.2rem solid var(--red);
          color: var(--red);
          border-radius: var(--radius);
          padding: 2px 5px;
        }
      }
    }
  }
}
