.outro {
  background-size: cover;
  height: 100%;
  margin: 2em 3em;
  padding: 2em;
  z-index: 1;
  background-color: var(--background);
  border-radius: var(--radius);
  box-shadow: 0 0 10px 0px black;

  .outro__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
  }
}
