.thumbnail {
  z-index: 2;
  padding: 0.3em 1em;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  // background: rgb(26, 26, 27);
  // background: linear-gradient(
  //   90deg,
  //   rgba(26, 26, 27, 1) 0%,
  //   rgba(26, 26, 27, 1) 50%,
  //   rgba(0, 212, 255, 0) 100%
  // );

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    // background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 18%,
      rgba(0, 0, 0, 0.6843779748227417) 51%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .head {
    display: flex;
    column-gap: 5vw;
    flex: 0.2;

    .subreddit {
      font-size: 6vw;
    }

    ul {
      font-size: 5vw;
      column-gap: 2.5vw;
    }
  }

  .thumbnail__title {
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;

    .title {
      text-transform: uppercase;
      line-height: 90%;
      font-weight: bold;
    }
  }
}
