.image {
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0.5;
  display: none;
}

.thumbnail {
  z-index: 4;
  padding: 1em;
  height: 100%;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    // background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 18%,
      rgba(0, 0, 0, 0.6843779748227417) 51%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .head {
    display: flex;
    column-gap: 5vw;

    .subreddit {
      font-size: 6vw;
    }

    ul {
      font-size: 5vw;
      column-gap: 2.5vw;
    }
  }

  .thumbnail__title {
    max-width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;

    .title {
      font-size: 18vw;
      line-height: 34vh;
      text-transform: uppercase;
    }
  }
}
