:root {
  --arrow-up: #cc3700;
  --red: #ff585b;
  --arrow-down: #5a75cc;
  --arrow-inactive: #818384;
  --text-inactive: #818384;

  --depth: #343536;
  --depth-active: #d7dadc;

  --radius: 0.3em;
  --background-dark: #1a1a1b;
  --background: #1a1a1be3;
  --color: #d7dadc;
  --color-light: #d7dadc76;

  // --mobile: 1081px;
}
