@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 2em;
  color: var(--color);
}

ul {
  list-style: none;
}

.uparrow {
  width: 3em;
  height: 3em;

  path {
    fill: none;
    stroke: #000000;
    stroke-width: 40;
    stroke-miterlimit: 10;
  }
}
