@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap");

@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  // background-color: var(--background);
  background: transparent;
}

body {
  font-size: 32px;
  color: var(--color);
}

ul {
  list-style: none;
}

.uparrow {
  width: 1.8em;
  height: 1.8em;

  path {
    fill: none;
    stroke: var(--arrow-inactive);
    stroke-width: 40;
    stroke-miterlimit: 10;
  }
}
